@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,700;1,400&family=Inter:wght@400;600;700;900&display=swap");

@import "tailwindcss";

@config "../tailwind.config.js";
body {
  width: 100vw;
  overflow-x: hidden;
}

@layer components {
  .font-serif {
    font-family: "Crimson Pro", serif;
  }

  .font-sans {
    font-family: "Inter", sans-serif;
  }

  .prose h2 {
    color: #dc2626;
    font-weight: 800;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
  }

  .prose img {
    border-radius: 1rem;
    margin: 1.5em 0;
    width: 100%;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  }
}

.editor-container {
  max-height: 600px;
  overflow-y: auto;
  padding-right: 10px;
}

.editor-container::-webkit-scrollbar {
  width: 6px;
}

.editor-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.editor-container::-webkit-scrollbar-thumb {
  background: #ffcccc;
  border-radius: 10px;
}

.editor-container::-webkit-scrollbar-thumb:hover {
  background: #dc2626;
}

.prose img {
  max-width: 50% !important;
  height: auto !important;
  margin: 2rem auto !important;
  border-radius: 1rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
  border: 4px solid #fff;
}

.prose {
  max-width: 100% !important;
  width: 100% !important;
  word-break: break-word;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}

#fck_detail_lightgallery {
  width: 100% !important;
  float: none !important;
}
